// Padding offsets for mobile
@forward 'vuetify/settings';

:root {
  --v-safe-area-top: env(safe-area-inset-top, 0px);
  --v-safe-area-right: env(safe-area-inset-right, 0px);
  --v-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --v-safe-area-left: env(safe-area-inset-left, 0px);
}
