name: CI

on:
  workflow_dispatch:
#  pull_request:
#    branches:
#      - main
#      - staging
#  push:
#    branches-ignore:
#      - main
#      - staging
#      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpunit:
    runs-on: ubuntu-latest
    environment: 'CI'
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_USER: laravel_user
          MYSQL_PASSWORD: laravel_pass
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v3
      - name: Configure PHP 8.3
        uses: shivammathur/setup-php@master
        with:
          php-version: '8.3'
          extensions: mbstring, ctype, fileinfo, openssl, PDO, bcmath, json, tokenizer, xml
      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install Composer dependencies
        run: |
          ENV="
            ${{ vars.ENV }}
            APP_KEY=base64:UDBdQUUlqrSVXTfkh3d8kqUE9g+5CMIxHYc11cdZ+eQ=
            DB_CONNECTION=mysql
            DB_HOST=127.0.0.1
            DB_PORT=3306
            DB_DATABASE=laravel_db
            DB_USERNAME=root
            DB_PASSWORD=root
            NYLAS_REGION=us
            JWT_SECRET=r6rix9QHmc12xE2LEHotZsJpNZdMabD0xTuAZ83ZVMBva9NBGJjAm7tfDCaXcf9d
            JWT_TTL=4320
          "
          printf "%s" "$ENV" > .env
          composer install --prefer-dist --optimize-autoloader
          cp .env .env.testing
      - name: Run Testsuite
        run: |
          php artisan test
