name: Deploy Production

on:
  workflow_dispatch:
#  push:
#    branches:
#      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    uses: dev-applied/deploy-action/.github/workflows/deploy.yml@main
    with:
      ENVIRONMENT: PRODUCTION
