name: Deploy Releases

on:
  workflow_dispatch:
#  push:
#    branches:
#      - releases/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    uses: dev-applied/deploy-action/.github/workflows/releases.yml@main
    with:
      ENVIRONMENT: DEV
